@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "@/styles/videoPlayer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "League Spartan", sans-serif;
  padding-bottom: 300px;
  background-color: #f5f9fa;
}

.curriculm-icons ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.curriculm-icons ul li a {
  width: 46px;
  height: 46px;
  font-size: 18px;
  border: 2px solid #f5f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  border-radius: 46px;
  transition: all 0.3s linear;
}
div#headlessui-portal-root {
  position: fixed;
  z-index: 20;
  background: rgb(0 0 0 / 80%);
  inset: 0;
}
.curriculm-icons {
  margin-top: 40px;
}

.curriculm-icons ul li a:hover {
  color: #f5f9fa;
  background: #808080;
}
.container {
  max-width: 1300px !important;
  margin: 0 auto !important;
}
@media (max-width: 768px) {
  .curriculm-icons {
    margin-top: 20px;
  }
  .container {
    margin: 0 15px !important;
  }
}

.taskPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #445bc3;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
