.contentWrapper {
  background-color: #fff;
}
.container {
  display: grid;
  padding: 15px 0;
  grid-template-columns: 2fr 1fr;
  gap: 65px;
  max-width: 1300px;
  margin: 0 auto;
}
.courseTitle {
  margin-bottom: 15px;
  font-size: 42px;
}
